*vscode/
/DeviceSDK/MQTT/src/MQTT.Client.NetFramework/obj/
/DeviceSDK/MQTT/src/MQTT.Client.NetStandard/obj/
/DeviceSDK/MQTT/test/MQTT.Client.NetFramework/MQTT.Tests/obj/
/DeviceSDK/MQTT/test/MQTT.Client.NetStandard/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoHealthCheck/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoOAuth/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoSimpleConfiguration/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoWebApi/bin/
/Examples/MicroserviceSDK/MicroserviceExample/DemoWebApi/obj/
/Examples/MicroserviceSDK/MicroserviceSDKSimpleDemo/source/DockerWebApp.Demo/obj/
/Examples/MicroserviceSDK/Nordpool/src/Nordpool.API/obj/
/Examples/MqttSDK/obj/
/Externals/MQTTnet/src/MQTTnet.NetStandard/obj/
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/DesignTimeBuild/
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/.suo
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/Server/sqlite3/storage.ide
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/Server/sqlite3/storage.ide-shm
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/Server/sqlite3/storage.ide-wal
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v16/
/MicroservicesSDK/minicover/obj/
/MicroservicesSDK/src/Cumulocity.AspNetCore.Authentication.Basic/bin/
/MicroservicesSDK/src/Cumulocity.AspNetCore.Authentication.Basic/obj/
/MicroservicesSDK/src/Cumulocity.SDK.Microservices/bin/
/MicroservicesSDK/src/Cumulocity.SDK.Microservices/obj/
/MicroservicesSDK/test/Cumulocity.AspNetCore.Authentication.Basic.Tests/bin/
/MicroservicesSDK/test/Cumulocity.AspNetCore.Authentication.Basic.Tests/obj/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.FunctionalTest/bin/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.FunctionalTest/obj/
/MicroservicesSDK/test/Cumulocity.AspNetCore.Authentication.Basic.Tests/TestResults/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.FunctionalTest/TestResults/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.IntegrationTest/obj/

