############################################################
## Visual Studio
############################################################
syntax: glob
*vscode/
## User-specific files

*.suo
*.user
*.sln.docstates

## Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

## MSTest test Results

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc

## Visual C++ cache files

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

## Visual Studio profiler

*.psess
*.vsp
*.vspx

## Guidance Automation Toolkit

*.gpState

## ReSharper Ignores

_ReSharper*/
*.[Rr]e[Ss]harper

## TeamCity Ignores
_TeamCity*

## DotCover Ignores

*.dotCover

## NCrunch Ignores

*.ncrunch*
.*crunch*.local.xml

## Installshield output folder
[Ee]xpress/

## DocProject Ignores

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

## Click-Once Ignores

publish/

## Publish Web Output

*.Publish.xml
*.pubxml

## Windows Azure Build Ignores

csx
*.build.csdef

## Windows Store Ignores

AppPackages/

## RIA/Silverlight projects

Generated_Code/

## SQL Server Ignores

App_Data/*.mdf
App_Data/*.ldf

## Backup & Report Files when converting a solution
## Not required, we have git!

_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

## NuGet
packages/

## Miscellaneous Ignores

sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

## Windows Ignores

$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
.vs\slnx.sqlite
.vs\ProjectSettings.json

/DeviceSDK/MQTT/src/MQTT.Client.NetFramework/obj/
/DeviceSDK/MQTT/src/MQTT.Client.NetStandard/obj/
/DeviceSDK/MQTT/test/MQTT.Client.NetFramework/MQTT.Tests/obj/
/DeviceSDK/MQTT/test/MQTT.Client.NetStandard/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoHealthCheck/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoOAuth/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoSimpleConfiguration/obj/
/Examples/MicroserviceSDK/MicroserviceExample/DemoWebApi/bin/
/Examples/MicroserviceSDK/MicroserviceExample/DemoWebApi/obj/
/Examples/MicroserviceSDK/MicroserviceSDKSimpleDemo/source/DockerWebApp.Demo/obj/
/Examples/MicroserviceSDK/Nordpool/src/Nordpool.API/obj/
/Examples/MqttSDK/obj/
/Externals/MQTTnet/src/MQTTnet.NetStandard/obj/
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/DesignTimeBuild/
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/.suo
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/Server/sqlite3/storage.ide
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/Server/sqlite3/storage.ide-shm
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v15/Server/sqlite3/storage.ide-wal
/MicroservicesSDK/.vs/Cumulocity.AspNetCore.Authentication.Basic/v16/
/MicroservicesSDK/minicover/obj/
/MicroservicesSDK/src/Cumulocity.AspNetCore.Authentication.Basic/bin/
/MicroservicesSDK/src/Cumulocity.AspNetCore.Authentication.Basic/obj/
/MicroservicesSDK/src/Cumulocity.SDK.Microservices/bin/
/MicroservicesSDK/src/Cumulocity.SDK.Microservices/obj/
/MicroservicesSDK/test/Cumulocity.AspNetCore.Authentication.Basic.Tests/bin/
/MicroservicesSDK/test/Cumulocity.AspNetCore.Authentication.Basic.Tests/obj/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.FunctionalTest/bin/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.FunctionalTest/obj/
/MicroservicesSDK/test/Cumulocity.AspNetCore.Authentication.Basic.Tests/TestResults/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.FunctionalTest/TestResults/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.IntegrationTest/obj/
/MicroservicesSDK/test-results/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.IntegrationTest/TestResults/
/MicroservicesSDK/test/Cumulocity.SDK.Microservices.IntegrationTest/bin/

